<footer class="main-footer">
  <div class="container container--flex">
      <div class="column column--33">
          <h2 class="column__title">¿Los productos son originales?</h2>
          <p class="column__txt">Toda la ropa cuenta con su respectiva licencia brindada
                  por nuestra marca distribuidora Mascara de Latex &copy;
          </p>
      </div>
      <div class="column column--33">
          <h2 class="column__title">¿Tienes dudas? Contactanos</h2>
          <p class="column__txt">Whatsapp y telefono 618-804-17-54</p>
          <p class="column__txt none">bearstoredgo@gmail.com</p>                      
      </div>
      <div class="column column--33">
          <h2 class="column__title">Siguenos en nuestras redes</h2>
          <p class="column__txt"><a href="" class="icon-facebook"></a> Facebook</p>
          <p class="column__txt"><a href="" class="icon-instagram"></a> Siguenos en Instagram</p>            
          <p class="column__txt"><a href="" class="icon-mobile"></a> Descarga la aplicacion</p>            
      </div>
      <p class="copy">&copy; 2019 Bear Store Durango | Todos los derechos reservados</p>
  </div>
</footer>