<app-menu></app-menu>

<main class="main">

  <section class="nosotros">

      <h4 class="titulo-nosotros">Bearstore Durango</h4>
      <div class="container">
          <p>Somos distribuidores de la marca Mascara de Latex&copy;, este sitio y la applicacion movil
              fueron creados al 100% por los propietarios de la tienda, quienes somos enstudiantes a punto 
              de egresar de la carrera de Ing. en Sistemas Computacionales del Instituto Tecnologico de Durango </p>
      </div>

      <div class="container container--flex">
              <div class="column column--50">
                  <img src="/assets/img/logo.png" alt="" class="logo-nosotros">
              </div>
              <div class="column column--50">
                  <img src="/assets/img/logo-mascara.png" alt="" class="logo-nosotros">
              </div>
          </div>

  </section>

</main>



<app-footer></app-footer>