@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Galdeano|Montserrat:400,700|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat+Alternates|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Courgette|Gentium+Basic:400,700|Permanent+Marker');
.titulo-nosotros{
    margin: 15px 0;
    font-size: 2.4em;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
    text-align: center;
}

.logo-nosotros{
    width: 400px; 
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;    
}

@media screen and (min-width:480px){
    
    .column--50{
        width: 49%;
    }
    .column--50-25{
        width: 49%;
    }

    .column--33{
        width: 32%;
    }
}
@media screen and (min-width:768px){
    
}

@media screen and (min-width:1024px){
    
}