<body>
  <h2 class="pedidos__titulo">{{titulo}}</h2>
  <h2 class="pedidos__titulo">Usuario: {{nombreusuario}}</h2>
  <div class="container">
    <div class="table-responsive contenedor__tabla__pedidos">
    <table class="table table-bordered tabla__pedidos">
      <tr class="active tabla__pedidos__titulo">
        <td>Producto</td>
        <td>Cantidad</td>
        <td>Talla</td>
        <td>Precio</td>
        <td>Total</td>
        <td></td>
      </tr>
      <tr *ngFor="let car of carrito">
        <td>{{car.nombre}}</td>
        <td>{{car.cantidad}}</td>
        <td>{{car.talla}}</td>
        <td>${{car.precio}}</td>
        <td>${{car.total}}</td>
        <td><button (click)="eliminarCarritobd(car.idcarrito)">Eliminar</button></td>
      </tr>
    </table>
  </div>
  <h2>Total del pedido: ${{totalFinal}}</h2>
  </div>  

</body>