*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.a{
    display: block;
    padding: 10px 5px;
    color:white;
    text-decoration: none;
}
.boton__completar{
    background: #0B4479;
    color:white;
    border-radius: 8px;
    height: 50px;
    margin-top: 15px;
}
.boton__eliminar_carrito{
    background: #0B4479;
    color:white;
    padding: 3px;
    border-radius: 8px;
}
.boton__eliminar_carrito:hover{
    cursor: pointer;
    background: rgba(116, 114, 114, 0.2);
    color: black;
}
.pedidos__titulo{
    padding: 10px;
    text-align: center;
}
.contenedor__tabla__pedidos{
    margin: 0 auto;
    width: 300px;
}
.tabla__pedidos{
    border: #0B4479 3px solid;
}
.tabla__pedidos__titulo{
    color:white;
    background: #0B4479;
}


@media screen and (min-width:480px){
    .contenedor__tabla__pedidos{
        width: 420px;
    
    }
}

@media screen and (min-width:768px){
    .contenedor__tabla__pedidos{
        width: 600px;
    
    }
}
@media screen and (min-width:1024px){
    .contenedor__tabla__pedidos{
        width: 720px;
    
    }
}
