<div class="container modal-prueba">      
    <!-- Modal -->
    <div  modal-container id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content ">
          <div class="modal-header">
            <h4 class="modal-title">Carrito de Compras</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>{{CarritoMensaje}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        
      </div>
    </div>

