<header class="main-header">
  <div class="container container--flex">
      <div class="logo-container column column--50">
          <img src="../assets/img/logo.png" alt="" class="logo">
      </div>
          <div class="main-header-principal column column--50">
              <p class="main-header-principal-carrito">
              </p>
          </div>
  </div>
</header>
<body>
  <div class="container">
    <h2 class="titulo__completar">¡Muchas Gracias por tu compra!</h2>
    <p class="titulo__parrafo">Lo siguiente es realizar el pago al siguiente numero de tarjeta, lo puedes hacer en cualquier
      sucursal CitiBanamex, cajero automatico de CitiBanamex y/o en alguna sucursal de Oxxo 
    </p>
    <div class="container column">
        <img class="logos__img" src="../assets/img/citibanamex-logo.png" alt="">
      </div>
    <h3 class="subtitulo__completar">No. de tarjeta</h3>
    <h4 class="subtitulo2__completar">Banamex: 5221-3001-0359-9045</h4>
    
    <p class="titulo__parrafo2">Tu pedido estara listo 1 dia habil despues de que envies un correo con el comprobante de pago
      y se te entregara en un lapso de 3 a 5 dias habiles, cualquier duda o aclaracion envia un correo a bearstoredgo@gmail.com. 
      </p>
    <div class="container_buttons container--flex">
    <button class="botones" (click)="finCompra()">Terminar</button> 
    </div>


  </div>
</body>
