<app-menu></app-menu>
<body>
  <h2 class="pedidos__titulo">{{titulo}}</h2>
  <h2 class="pedidos__titulo">Usuario: {{nombreusuario}}</h2>
  <div class="container">
    <div class="table-responsive contenedor__tabla__pedidos">
    <table class="table table-bordered tabla__pedidos">
      <tr class="active tabla__pedidos__titulo">
        <td># Pedido</td>
        <td>Fecha</td>
        <td>Metodo Pago</td>
        <td>Total</td>
      </tr>
      <tr *ngFor="let ped of pedidos">
        <td>{{ped.idpedido}}</td>        
        <td>{{ped.fecha}}</td>
        <td>{{ped.metodopago}}</td>
        <td>${{ped.total}}</td>
      </tr>
    </table>
  </div>
  </div>  

</body>

<app-footer></app-footer>
