<body>
  <header class="main-header">
      <div class="container container--flex">
          <div class="logo-container column column--50">
              <img src="../assets/img/logo.png" alt="" class="logo">
          </div>
              <div class="main-header-principal column column--50">
                  <p class="main-header-principal-carrito">
                      <span class="icon-cart2">(0)$0</span>
                  </p>
              </div>
      </div>
    </header>
    <nav class="main-nav">
          <div class="container container--flex">
              <span class="icon-menu" id="btnmenu" (click)="mostrar()" ></span>
              <ul class="menu" id="menu">
                <li class="opcion-menu"><a href="" class="ruta-menu ruta-menu-select">Inicio</a></li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Hombre</a>
                  <ul>
                          <li><a class="a" href="">Playeras</a></li>
                          <li><a class="a" href="">Sudaderas</a></li>
                          <li><a class="a" href="">Chamarras</a></li>
                  </ul>
              </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Mujer</a>
                    <ul>
                            <li><a class="a" href="">Playeras</a></li>
                            <li><a class="a" href="">Sudaderas</a></li>
                            <li><a class="a" href="">Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Niño</a>
                    <ul>
                            <li><a class="a" href="">Playeras</a></li>
                            <li><a class="a" href="">Sudaderas</a></li>
                            <li><a class="a" href="">Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Mi Cuenta</a>
                    <ul>
                            <li><a class="a" href="">Mis Pedidos</a></li>
                            <li><a class="a" href="">Cambiar Contraseña</a></li>
                            <li><a class="a" href="">Modificar Datos</a></li>
                    </ul>
                </li>
                <li class="opcion-menu"><a href="" class="ruta-menu">Contacto</a>
                </li>
            </ul>
              <div class="user-icon">
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="icon-user"></span>Iniciar Sesion</a>
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id02').style.display='block'" style="width:auto;" class="icon-pencil"></span>Registrarse</a>
              </div>
          </div>
      </nav>
    </body>