<body>
  <header class="main-header">
      <div class="container container--flex">
          <div class="logo-container column column--50">
              <img src="../assets/img/logo.png" alt="" class="logo">
          </div>
              <div class="main-header-principal column column--50">
                  <p class="main-header-principal-carrito">
                    <span class="icon-cart2" (click)="abrirCarritoModal()">(0)$0</span>
                  </p>
              </div>
      </div>
    </header>
    <nav class="main-nav">
          <div class="container container--flex">
              <span class="icon-menu" id="btnmenu" (click)="prueba()"></span>
              <ul class="menu" id="menu">
                <li class="opcion-menu"><a href="" class="ruta-menu ruta-menu-select">Inicio</a></li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Hombre</a>
                  <ul>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Playeras</a></li>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Sudaderas</a></li>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Chamarras</a></li>
                  </ul>
              </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Mujer</a>
                    <ul>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Playeras</a></li>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Sudaderas</a></li>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Niño</a>
                    <ul>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Playeras</a></li>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Sudaderas</a></li>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Mi Cuenta</a>
                    <ul>
                            <li><a routerLink="/pedidos" routerLinkActive="active" class="a" href="">Mis Pedidos</a></li>
                            <li><a class="a" href="">Cambiar Contraseña</a></li>
                            <li><a routerLink="/datos-usuario" routerLinkActive="active" class="a" href="">Modificar Datos</a></li>
                    </ul>
                </li>
                <li class="opcion-menu"><a routerLink="/contacto" routerLinkActive="active" class="ruta-menu">Nosotros</a>
                </li>
            </ul>
              <div class="user-icon">
                  <a class="ruta-user-icon"><span (click)="mostrarLogin()" style="width:auto;" class="icon-user"></span>Iniciar Sesion</a>
                  <a class="ruta-user-icon"><span (click)="mostrarRegistro()" style="width:auto;" class="icon-pencil"></span>Registrarse</a>
              </div>
          </div>
      </nav>




          <div id="id01" class="modal">

            <form class="modal-content animate" action="/action_page.php">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../assets/img/logo.png" class="logo-login">
              </div>
            
              <div class="container-modal">
                <label for="email"><b>Correo Electronico</b></label>
                <input type="text" placeholder="Ingresa tu correo electronico" [(ngModel)]="email" name="email" required>
            
                <label for="contra"><b>Contraseña</b></label>
                <input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="contra" required>
                  
                <button (click)="login()">Iniciar Sesion</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember">Recordar datos
                </label>
              </div>
            
              <div class="container-modal" style="background-color:#f1f1f1">
                  <span class="psw"><a href="#">Olvidaste tu contraseña?</a></span>
              </div>
            </form>
            </div>
            
            <!-----------------------modalregistro-->
            
            <div id="id02" class="modal">
            
              <form class="modal-content animate" action="/action_page.php">
                <div class="imgcontainer">
                  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                  <img src="../assets/img/logo.png" class="logo-login">
                </div>
            
                <div class="container-modal">
                  <label for="uname"><b>Nombre</b></label>
                  <input type="text" placeholder="Ej. Edgar Alexis" [(ngModel)]="nombre" name="uname" required>
            
                  <label for="apaterno"><b>Apellido Paterno</b></label>
                  <input type="text" placeholder="Ej. Mercado"  [(ngModel)]="paterno" name="apaterno" required>
            
                  <label for="amaterno"><b>Apellido Materno</b></label>
                  <input type="text" placeholder="Ej. Valdez" [(ngModel)]="materno" name="amaterno" required>
             
                  <label for="correoe"><b>Correo Electronico</b></label>
                  <input type="text" placeholder="Ej. edgaralexis@gmail.com" [(ngModel)]="correo" name="correoe" required>
            
                  <label for="psw"><b>Contraseña</b></label>
                  <input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="contrasenia" name="psw" required>
            
                  <label for="confpsw"><b>Confirmar Contraseña</b></label>
                  <input type="password" placeholder="Confirma tu contraseña" [(ngModel)]="repcontrasenia" name="confpsw" required>
                    
                  <button (click)="registro()">Registrarse</button>
                  
                </div>
            
                <div class="container-modal" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancelar</button>
                </div>
              </form>
            </div>
            


    </body>