<body>
  <header class="main-header">
      <div class="container container--flex">
          <div class="logo-container column column--50">
              <img src="../assets/img/logo.png" alt="" class="logo">
          </div>
              <div class="main-header-principal column column--50">
                  <p class="main-header-principal-carrito">
                    <button  type="button" class=" icon-cart2 boton-cart" data-toggle="modal" data-target="#myModal" >(0)$0</button>
                  </p>
              </div>
      </div>
    </header>
    <nav class="main-nav">
          <div class="container container--flex">
              <span class="icon-menu" id="btnmenu" (click)="prueba()"></span>
              <ul class="menu" id="menu">
                <li class="opcion-menu"><a href="" class="ruta-menu ruta-menu-select">Inicio</a></li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Hombre</a>
                  <ul>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Playeras</a></li>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Sudaderas</a></li>
                          <li><a routerLink="/seccion" routerLinkActive="active" class="a">Chamarras</a></li>
                  </ul>
              </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Mujer</a>
                    <ul>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Playeras</a></li>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Sudaderas</a></li>
                            <li><a routerLink="/seccion" routerLinkActive="active" class="a" >Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a  class="ruta-menu">Niño</a>
                    <ul>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Playeras</a></li>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Sudaderas</a></li>
                            <li><a  routerLink="/seccion" routerLinkActive="active" class="a">Chamarras</a></li>
                    </ul>
                </li>
                <li class="opcion-menu submenu"><a class="ruta-menu">Mi Cuenta</a>
                    <ul>
                            <li><a class="a" href="">Mis Pedidos</a></li>
                            <li><a class="a" href="">Cambiar Contraseña</a></li>
                            <li><a class="a" href="">Modificar Datos</a></li>
                    </ul>
                </li>
                <li class="opcion-menu"><a href="" class="ruta-menu">Contacto</a>
                </li>
            </ul>
              <div class="user-icon">
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="icon-user"></span>Iniciar Sesion</a>
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id02').style.display='block'" style="width:auto;" class="icon-pencil"></span>Registrarse</a>
              </div>
          </div>
      </nav>


      <div class="container modal-prueba">
            
            <!-- Modal -->
            <div class="modal fade" modal-container id="myModal" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content ">
                  <div class="modal-header">
                    <h4 class="modal-title">Carrito de Compras</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>{{CarritoMensaje}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
    </body>