<head>
      <link href="https://file.myfontastic.com/KcG2ogPmSmjxJYkCoF7W8J/icons.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <header class="main-header">
        <div class="container container--flex">
            <div class="logo-container column column--50">
                <img src="../assets/img/logo.png" alt="" class="logo">
            </div>
                <div class="main-header-principal column column--50">
                    <p class="main-header-principal-carrito">
                        <span class="icon-cart2">(0)$0</span>
                    </p>
                </div>
        </div>
      </header>
  
      <nav class="main-nav">
          <div class="container container--flex">
              <span class="icon-menu" id="btnmenu"></span>
              <ul class="menu" id="menu">
                  <div class="dropdown opcion-menu dropdown-select">
                          <li  class="dropbtn"> <a href="index.html" class="ruta-menu">Inicio </a><i class="fa fa-caret-down"></i></li>
                        </div>
                  <div class="dropdown opcion-menu">
                          <li  class="dropbtn"> <a href="Hombre.html" class="ruta-menu">Hombre </a><i class="fa fa-caret-down"></i></li>
                          <div class="dropdown-content">
                            <a href="#">Playeras</a>
                            <a href="#">Sudaderas</a>
                            <a href="#">Chamarras</a>
                          </div>
                        </div>
      
                  <div class="dropdown opcion-menu">
                          <li  class="dropbtn"> <a href="Hombre.html" class="ruta-menu">Mujer </a><i class="fa fa-caret-down"></i></li>
                          <div class="dropdown-content">
                              <a href="#">Playeras</a>
                              <a href="#">Sudaderas</a>
                              <a href="#">Chamarras</a>
                          </div>
                        </div>
                  <div class="dropdown opcion-menu">
                          <li  class="dropbtn"> <a href="Hombre.html" class="ruta-menu">Niño </a><i class="fa fa-caret-down"></i></li>
                          <div class="dropdown-content">
                              <a href="#">Playeras</a>
                              <a href="#">Sudaderas</a>
                              <a href="#">Chamarras</a>
                          </div>
                        </div>
                        <div class="dropdown opcion-menu">
                              <li  class="dropbtn"> <a href="Nosotros.html" class="ruta-menu">Nosotros </a><i class="fa fa-caret-down"></i></li>
                          </div>
                  <div class="dropdown opcion-menu">
                          <li  class="dropbtn"> <a href="#" class="ruta-menu">Mi Cuenta </a><i class="fa fa-caret-down"></i></li>
                      <div class="dropdown-content">
                        <a href="#">Mis datos</a>
                        <a href="#">Mis pedidos</a>
                        <a href="#">Cambiar contraseña</a>
                      </div>
                    </div>
              </ul>
              <div class="user-icon">
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="icon-user"></span>Iniciar Sesion</a>
                  <a class="ruta-user-icon"><span onclick="document.getElementById('id02').style.display='block'" style="width:auto;" class="icon-pencil"></span>Registrarse</a>
              </div>
          </div>
      </nav>

</body>