<app-menu></app-menu>

<main class="main">

    <section class="descripcion productos">
            <h4 class="grupo-productos">{{titulo}}</h4>
            <div class="container container--flex">
                <div class="column column-30 column--50">
                        <img src="/assets/img/cap.png" alt="" class="productos-img">
                    <div class="productos-title">Capitan America</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">    
                    <img src="/assets/img/gokussj.png" alt="" class="productos-img">
                    <div class="productos-title">Goku SSJ</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/classicbatman.png" alt="" class="productos-img">
                    <div class="productos-title">Classic Batman</div>
                    <div class="productos-precio">$269.00</div>
                </div>
            
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/avengers.png" alt="" class="productos-img">
                    <div class="productos-title">What ever it takes</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/start.png" alt="" class="productos-img">
                    <div class="productos-title">La Estrella</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/superman.png" alt="" class="productos-img">
                    <div class="productos-title">Superman Logo</div>
                    <div class="productos-precio">$269.00</div>
                </div>

                <div class="column column-30 column--50-25">
                    <img src="/assets/img/game.png" alt="" class="productos-img">
                    <div class="productos-title">Game of thrones</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/ironman.png" alt="" class="productos-img">
                    <div class="productos-title">Iron Man</div>
                    <div class="productos-precio">$269.00</div>
                </div>
                <div class="column column-30 column--50-25">
                    <img src="/assets/img/villano.png" alt="" class="productos-img">
                    <div class="productos-title">El Villano</div>
                    <div class="productos-precio">$269.00</div>
                </div>
            </div>
            </section>
    

</main>


<app-footer></app-footer>