<app-menu></app-menu>
<body>
    <main class="main">
        <section class="descripcion productos-nuevos">
            <h4 class="grupo-productos"></h4>
            <div class="container container--flex" *ngFor="let produ of producto" >
                <div class="column column--50-25">
                    <img src="{{produ.ruta}}"  alt="" class="producto__img">
                    <div class="productos-nuevos__title"></div>
                    <div class="productos-nuevos__precio"></div>
                </div>
                <div class="column column--50-25" *ngFor="let pro of producto">
                    <div class="producto__title">{{pro.nombre}}</div>
                    <div class="producto__precio">Precio ${{pro.precio}}</div>
                    <div class="producto__talla">Selecciona tu Talla</div>
                    <div class="producto__talla__boton">
                        <label for="chica" class="boton__talla">CH</label>
                        <input type="checkbox" class="talla_cbx" id="chica" value="chica">
                        <label for="mediana" class="boton__talla">M</label>
                        <input type="checkbox" class="talla_cbx" id="mediana" value="mediana">
                        <label for="grande" class="boton__talla">G</label>
                        <input type="checkbox" class="talla_cbx" id="grande" value="grande">
                        <label for="extragrande" class="boton__talla">XL</label>                        
                        <input type="checkbox" class="talla_cbx" id="extragrande" value="extragrande">
                    </div>
                    <div class="producto__talla">
                        <h3 class="cantidad__titulo">Cantidad:</h3>
                        <input type="number" name="cantidad" min="1" max="5">
                    </div>
                    <div class="producto__talla__boton">
                        <button class="boton__carrito">AÑADIR AL CARRITO</button>
                    </div>
                    <div class="producto__descripcion__titulo">Descripcion
                        <h2 class="producto__descripcion">• Playera manga corta, cuello redondo <br>
                            • Estampado en serigrafía sin tacto <br>
                            • 50% algodón 50% poliéster<br>
                            • Hecho en México</h2>
                    </div>



                </div>
                
            </div>
            </section>
    
        </main>
        
</body>

<app-footer></app-footer>