<app-menu></app-menu>

<body>
    <!-----------------slider------------------>
    <div id="contenedor-slider" class="contenedor-slider">
        <div id="slider" class="slider">
          <section class="slider__section"><img src="../assets/img/bob.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/dragonball.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/pizza.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/batman2.jpg" class="slider__img"></section>
        </div>
        <div id="btn-prev" class="btn-prev">&#60;</div>
        <div id="btn-next" class="btn-next">&#62;</div>
      </div>
    <!-----------------slider------------------>

    <!-----------------------modallogin-->

<div id="id01" class="modal">

<form class="modal-content animate" action="/action_page.php">
  <div class="imgcontainer">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <img src="../assets/img/logo.png" class="logo-login">
  </div>

  <div class="container-modal">
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Ingresa tu usuario" name="uname" required>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>
      
    <button type="submit" onclick="login();">Iniciar Sesion</button>
    <label>
      <input type="checkbox" checked="checked" name="remember">Recordar datos
    </label>
  </div>

  <div class="container-modal" style="background-color:#f1f1f1">
      <span class="psw"><a href="#">Olvidaste tu contraseña?</a></span>
  </div>
</form>
</div>

<!-----------------------modalregistro-->

<div id="id02" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="../assets/img/logo.png" class="logo-login">
    </div>

    <div class="container-modal">
      <label for="uname"><b>Nombre</b></label>
      <input type="text" placeholder="Ej. Edgar Alexis" name="uname" required>

      <label for="uname"><b>Apellido Paterno</b></label>
      <input type="text" placeholder="Ej. Mercado" name="uname" required>

      <label for="uname"><b>Apellido Materno</b></label>
      <input type="text" placeholder="Ej. Valdez" name="uname" required>

      <label for="uname"><b>Correo Electronico</b></label>
      <input type="text" placeholder="Ej. edgaralexis@gmail.com" name="uname" required>

      <label for="uname"><b>Usuario</b></label>
      <input type="text" placeholder="Ej. alexisvaldez88" name="uname" required>

      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>

      <label for="psw"><b>Confirmar Contraseña</b></label>
      <input type="password" placeholder="Confirma tu contraseña" name="psw" required>
        
      <div class="g-recaptcha" data-sitekey="6Lf5dZsUAAAAANmvxhN39V0V5Ltf_Eq_35RnU_Ey"></div>
      <button type="submit" onclick="registro();" >Registrarse</button>
      
    </div>

    <div class="container-modal" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancelar</button>
    </div>
  </form>
</div>


<!-----------------------modals-->
<main class="main">

  <section class="descripcion descripcion-color">
      <div class="container">
          <h2 class="titulo-principal">{{titulo}}</h2>
          <p class="descripcion-principal">{{parrafo}}</p>
      </div>
  </section>

  <section class="descripcion">
      <div class="container container--flex">
          <div class="column column--33 contenedor">
              <img src="/assets/img/hombre.png" alt="">
          </div>
          <div class="column column--33">
              <img src="/assets/img/mujer.png" alt="">
          </div>
          <div class="column column--33">
              <img src="/assets/img/nino.png" alt="">
          </div>
      </div>

  </section>


  <section class="descripcion productos-nuevos">
  <h4 class="grupo-productos">Productos nuevos</h4>
  <div class="container container--flex">
      <div class="column column--50-25">
          <img src="/assets/img/venom.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 1</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/stich.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 2</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/drtocino.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 3</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/batman.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 4</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
  </div>
  </section>

</main>

<app-footer></app-footer>


</body>