<app-menu></app-menu>
<body>
    <!-----------------slider------------------>
    <div id="contenedor-slider" class="contenedor-slider">
        <div id="slider" class="slider">
          <section class="slider__section"><img src="../assets/img/bob.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/dragonball.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/pizza.jpg" class="slider__img"></section>
          <section class="slider__section"><img src="../assets/img/batman2.jpg" class="slider__img"></section>
        </div>
        <div id="btn-prev" class="btn-prev">&#60;</div>
        <div id="btn-next" class="btn-next">&#62;</div>
      </div>
    <!-----------------slider------------------>
<main class="main">
  <section class="descripcion descripcion-color">
      <div class="container">
          <h2 class="titulo-principal">{{titulo}}</h2>
          <p class="descripcion-principal">{{parrafo}}</p>
      </div>
  </section>
<section class="descripcion">
      <div class="container container--flex">
          <div class="column column--33 contenedor">
              <img src="/assets/img/hombre.png" alt="">
          </div>
          <div class="column column--33">
              <img src="/assets/img/mujer.png" alt="">
          </div>
          <div class="column column--33">
              <img src="/assets/img/nino.png" alt="">
          </div>
      </div>
</section>

<section class="descripcion productos-nuevos">
  <h4 class="grupo-productos">Productos nuevos</h4>
  <div class="container container--flex">
      <div class="column column--50-25">
          <img src="/assets/img/venom.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 1</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/stich.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 2</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/drtocino.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 3</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
      <div class="column column--50-25">
          <img src="/assets/img/batman.jpg" alt="" class="productos-nuevos__img">
          <div class="productos-nuevos__title">Producto nuevo 4</div>
          <div class="productos-nuevos__precio">$269.00</div>
      </div>
  </div>
</section>
</main>
</body>
<app-footer></app-footer>
